header {
  
  height: 8rem;
  width: 100%;

  
  
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
  
  
 
}

.nav-links {
  display: flex;
  gap: 4rem;
  
  
  
  
}

.link-btn {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #525252;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
  

}

.link {
  
  transition: 0.3s;
}





.nav-logo {
  width: 20rem;
  
}



/* .link:before,
.link:after {
  content: attr(data-val);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.link:after {
  left: 0%;
  color: #fff;
}

.link:before {
  opacity: 0;
  top: -100%;
}

.link:hover:before {
  top: 0%;
  opacity: 1;
  color: #09b9ff;
}

.link:hover:after {
  left: 100%;
  opacity: 0;
} */

.link-btn:hover {
  color: #09b9ff;
  
}

header .nav-btn  {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #09b9ff;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;


}

@media only screen and (max-width: 530px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: 1s;
    transform: translateX(100vh);
    padding-bottom: 8rem;
    margin: 0;
  }

  header .responsive_nav {
    transform: none;
    
    

  }

  .nav-links {
    background-color: transparent !important;
    flex-direction: column;
  }

  .link-btn {
    background-color: transparent !important;
    font-size: 3rem;
    color: #363636;
  }

  .link {
    background-color: transparent !important;
  }

  .Botao_close_hamb {
    background: transparent !important;
  }

  header {
    justify-content: end;
  }

  .Botao_close_hamb {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  
}